.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--obs-navy);
}

@media (min-width: 640px) {
  .title {
    font-size: 1.875rem;
  }
}
